[Unit]
Description=Health Reminder Application
After=network.target

[Service]
ExecStart=/usr/bin/python3 /path/to/ReminderApp.py
Restart=always
User=schneider

[Install]
WantedBy=multi-user.target